/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* TYPOGRAPHY */
body{
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}



/*GENERAL*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

section{
    min-height: 616.6px;
    margin: 0 auto;
    padding: 60px;
}

.gray{
    background-color: #D3D3D3;
}

.left-side{
    width: 65%;
}

.right-side{
    width: 35%;
}



/* BUTTONS */
.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn{
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
    background-color: transparent;
}

.btn-large{
    padding: 12px 20px;
    font-size: 16px;
}

.btn-white{
    background-color: #FFFFFF;
}

.btn-black{
    background-color: #23272A;
    color: white;
}

.btn > i{
    margin-right: 15px;
}



/*HEADER*/
header{
    background-color: #255EE9;
    color: white;

}

#header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#header-top > *{
    padding: 15px 0 10px;
}

#header-top .logo, #header-top .login{
    width: 20%;
}

#header-top .nav{
    flex-grow: 1;

}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav ul a{
    text-decoration: none;
    color: inherit;
}

#header-top .login{
    text-align: right;
}

#header-bottom{
    padding: 150px 0;
    background-image: url('img/jumbo.png');
    background-size: cover;
    background-position: center;
}

#hero{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

#header-bottom #hero > p{
    margin: 40px 0;
}



/* MAIN */

/* SECTION 1 */
#box-one{
    display: flex;
}

.right-side > p{
    margin-top: 40px;
    width: 75%;
}

/* SECTION 2 */
#box-two{
    display: flex;
    flex-direction: row-reverse;
}

/* SECTION 3 */
#box-three{
    display: flex;
}

/* SECTION 4 */
#large-section{
    margin: 0 auto;
}



/* FOOTER */
.footer-top{
    display: flex;
    padding-top: 10px;
    padding-bottom: 30px;
}

.large-column{
    width: 30%;
}

.column{
    width: calc(70% / 4);
}

.footer-top .col-small{
    width: 30%;
}
.footer-top .col-big{
    width: 70%;
    display: flex;
}

.footer-top .col-big > .col-inner{
    width: 25%;
}

.footer-bottom{
    padding-top: 30px;
}

.footer-bottom.container{
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

.footer-bottom .logo,
.footer-bottom .btn{
    padding: 6px 14px;
}
